* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f6;
}

#root {
  width: 80%;
  height: 600px;
  margin: 20px auto;
  background-color: cadetblue;
}

.logo {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo__img {
  width: 80px;
  height: 80px;
  margin: 0 12px;
}

.logo__text {
  font-size: 40px;
  font-weight: 600;
}
